@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600); /* 引入Google Fonts中的字體 */

:root {
  --aside-width: 14em;
}

body {
  font-family: "Lato", sans-serif; /* 設定字體 */
  font-size: 100%; /* 設定字體大小為父元素的100% */
  overflow-y: auto; /* 如果內容過長，顯示垂直滾動條 */
  -ms-text-size-adjust: 100%; /* 調整IE中的文字大小 */
  -webkit-text-size-adjust: 100%; /* 調整WebKit中的文字大小 */
  -webkit-font-smoothing: antialiased; /* 使字體在WebKit渲染中呈現平滑邊緣 */
  -moz-osx-font-smoothing: grayscale; /* 使字體在Firefox中呈現平滑邊緣 */
  text-rendering: optimizeLegibility; /* 優化字體顯示以提高可讀性 */
  background: linear-gradient(to right, #c9ffbf, #ffafbd); /* 設定背景顏色 */
  height:100vh;
  margin:0;
}

#content {
    
      width: calc(100% - var(--aside-width));
      margin-left:var(--aside-width);
      height: 100%;
      border: none; /* 可以去掉 iframe 的邊框 */
      display:block;
}



/* Sidebar樣式 */
.sidebar {
  position: fixed; /* 相對於最近的定位父元素 */
  width: var(--aside-width); /* 設定寬度 */
  height: 100vh; /* 設定高度為視窗的100% */
  top: 0; /* 與父元素上方對齊 */
  overflow: hidden; /* 隱藏溢出內容 */
  background-color: #19222a; /* 設定背景顏色 */
  transform: translateZ(0); /* 創建3D效果，解決WebKit渲染問題 */
  visibility: visible; /* 設定可見性 */
  backface-visibility: hidden; /* 在3D空間中隱藏背面 */
}

.sidebar a {
  text-decoration: none; /* 移除超連結的下劃線 */
  transition: all 0.6s ease; /* 定義所有屬性的過渡效果為0.6秒，使用緩動函數 */
}

.sidebar a:hover {
  transition: all 0.6s ease; /* 定義所有屬性的過渡效果為0.6秒（應用於:hover狀態），使用緩動函數 */
}

.sidebar header {
  background-color: #09f;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar header .profile-btn button {
  display: block;
  margin: 10px;
  margin-left: auto;
  cursor:pointer;
  font-size:0.8em;
}

.sidebar header .profile-image {
  --size: 56px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

.sidebar header .personal {
  flex: 1; /* 將剩餘的空間給personal */
  padding-left:5px; /* 可以根據需要添加內邊距 */
}

.sidebar header .personal p {
  margin: 11px 0;
  font-size:0.8em;
}


/* Sidebar內部導航樣式 */
.sidebar-nav {
  position: fixed; /* 固定定位 */
  background-color: #19222a; /* 設定背景顏色 */
  height: 100%; /* 設定高度為視窗的100% */
  font-weight: 400; /* 設定字體粗細 */
  font-size: 1em; /* 設定字體大小 */
  overflow: auto; /* 溢出內容時顯示滾動條 */
  padding-bottom: 6em; /* 底部留出6em的空間 */
  z-index: 9; /* 設定堆疊順序 */
  overflow: hidden; /* 隱藏溢出內容 */
  -webkit-overflow-scrolling: touch; /* 支援觸控裝置的滾動效果 */
}

.sidebar-nav ul {
  list-style: none; /* 移除列表樣式 */
  display: block; /* 顯示為區塊元素 */
  padding: 0; /* 移除內邊距 */
  margin: 0; /* 移除外邊距 */
}

.sidebar-nav ul li {
  margin-left: 0; /* 移除左邊距 */
  padding-left: 0; /* 移除左內邊距 */
  display: inline-block; /* 顯示為內聯區塊元素 */
  width: 100%; /* 設定寬度為父元素的100% */
}

.sidebar-nav ul li a {
  color: rgba(255, 255, 255, 0.9); /* 設定字體顏色 */
  font-size: 0.75em; /* 設定字體大小 */
  padding: 0.95em 1em; /* 設定內邊距 */
  position: relative; /* 相對定位 */
  display: block; /* 顯示為區塊元素 */
}

.sidebar-nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.9); /* 滑鼠懸停時的背景顏色 */
  transition: all 0.6s ease; /* 定義所有屬性的過渡效果為0.6秒，使用緩動函數 */
}

.sidebar-nav ul li i {
  font-size: 1.8em; /* 設定字體大小 */
  padding-right: 0.5em; /* 設定右內邊距 */
  width: 9em; /* 設定寬度 */
  display: inline; /* 顯示為內聯元素 */
  vertical-align: middle; /* 垂直置中對齊 */
}

.sidebar-nav > ul > li > a.drop-down-menu:after {
  content: '\f125'; /* 使用ionicons字體的特定圖標 */
  font-family: ionicons; /* 指定字體 */
  font-size: 0.5em; /* 設定字體大小 */
  width: 10px; /* 設定寬度 */
  color: #fff; /* 設定字體顏色 */
  position: absolute; /* 絕對定位 */
  right: 0.75em; /* 與父元素右邊對齊 */
  top: 40%; /* 與父元素上方45%的位置對齊 */
}

/* 滑鼠懸停時顯示的下拉菜單 */
.sidebar-nav .nav-flyout {
  position: absolute; /* 絕對定位 */
  background-color: #080D11; /* 設定背景顏色 */
  z-index: 9; /* 設定堆疊順序 */
  left: 2.5em; /* 與父元素左邊2.5em的位置對齊 */
  top: 0; /* 與父元素上方對齊 */
  height: 100vh; /* 設定高度為視窗的100% */
  transform: translateX(100%); /* 將元素移至右側看不見 */
  transition: all 0.5s ease; /* 定義所有屬性的過渡效果為0.5秒，使用緩動函數 */
}

.sidebar-nav .nav-flyout a:hover {
  background-color: rgba(255, 255, 255, 0.05); /* 滑鼠懸停時的背景顏色 */
}

.sidebar-nav > ul > li:hover .nav-flyout {
  transform: translateX(0);
  transition: all 0.5s ease;
}

