body {
    margin-top: 92px;
}

/*頁首視覺化效果*/
header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}

header {
    background-color: #f9edf2;
}

header .linkText, header .linkIcon {
    color: #561729;
    cursor: pointer;
}

header .linkText:hover, header .linkIcon:hover {
    color: #00302e;
}

header .titleName {
    color: #561729;
}

header .navbar-brand {
    transition: transform 0.3s;
}

header .navbar-brand:hover {
    transform: scale(1.2);
    z-index: 1000;
}


/*scrollbar*/
body {
    --sb-track-color: #76d3d3;
    --sb-thumb-color: #117f7c;
    --sb-size: 10px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;

}

/*視窗進度條*/
#scroll-progress {
    height: 3px;
    background-color: #117f7c;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    z-index: 9999;
    transition: width 0.1s;
}

/*搜尋框*/
header .searchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
}

header .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

header .searchButton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

header .searchButton:active {
    box-shadow: none;
    transform: translateY(0);
}

header .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
    width: 350px;
    height: 60px;
}

/*搜尋框*/

/*漢堡按鈕*/
header .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

header .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

header .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

header .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

header .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

header .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

header .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

/*漢堡按鈕*/

header a {
    font-size: 14px;
    font-weight: 700
}

header .superNav {
    font-size: 13px;
}

header .form-control {
    outline: none !important;
    box-shadow: none !important;
}

/*RWD*/
@media screen and (max-width: 540px) {
    .centerOnMobile {
        text-align: center
    }
}

@media screen and (max-width: 1399.2px) and (min-width: 991.2px) {
    .linkText {
        display: none;
    }

    .linkIcon {
        font-size: 20px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 991.2px) {
    body {
        margin-top: 124px;
    }

    .linkIcon {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767.2px) {
    body {
        margin-top: 184px;
    }

    .linkIcon {
        margin-bottom: 10px;
    }
}

/*RWD*/

/* 選項下拉式選單 */
header .nav-item .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header .dropdown-menu {
    width: auto;
    min-width: 200px;
}

header .beSellerDrop {
    width: auto;
    min-width: 100px;
}

header .nav-item:hover .dropdown-menu {
    display: block;
}


header .dropdown-item {
    font-size: 14px;
    display: block;
    padding: 8px;
    color: #000000;
    text-decoration: none;
}

header .dropdown-item:hover {
    background-color: #f8f9fa;
}