<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

<!--        &lt;!&ndash;        &lt;!&ndash; 載入驅動 &ndash;&gt;&ndash;&gt;-->
<!--        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->
<!--        &lt;!&ndash;        &lt;!&ndash; 建立連線 &ndash;&gt;&ndash;&gt;-->
<!--        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/twoclothing?serverTimezone=Asia/Taipei-->
<!--        </property>-->
<!--        &lt;!&ndash;        &lt;!&ndash; 設定帳號 &ndash;&gt;&ndash;&gt;-->
<!--        <property name="hibernate.connection.username">root</property>-->
<!--        &lt;!&ndash;        &lt;!&ndash; 設定密碼 &ndash;&gt;&ndash;&gt;-->
<!--        <property name="hibernate.connection.password">root</property>-->

        <!-- 改用JNDI設定連線池 -->
        <property name="connection.datasource">java:comp/env/jdbc/TestDB</property>

        <!-- 使用MySQL的方言 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 設定控制台是否顯示MySQL指令 -->
        <property name="hibernate.show_sql">true</property>
        <!-- 是否格式化顯示的指令,方便閱讀 -->
        <property name="hibernate.format_sql">true</property>
        <!-- 控制Hibernate在啟動時對資料庫架構進行的操作 -->
        <!-- validate：讓Hibernate驗證永續類別與資料庫對映是否正確 -->
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <!-- 在Session介面介紹時有說明 -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- 類別映射 -->
        <mapping class="com.twoclothing.web.balancehistory.BalanceHistory"/>
        <mapping class="com.twoclothing.web.abid.biditem.BidItem"/>
        <mapping class="com.twoclothing.web.abid.biditembrowsing.BidItemBrowsing"/>
        <mapping class="com.twoclothing.web.abid.biditemimage.BidItemImage"/>
        <mapping class="com.twoclothing.web.abid.biditemreport.BidItemReport"/>
        <mapping class="com.twoclothing.web.abid.bidorder.BidOrder"/>
        <mapping class="com.twoclothing.web.abid.bidordernotify.BidOrderNotify"/>
        <mapping class="com.twoclothing.web.abid.bidorderratingimage.BidOrderRatingImage"/>
        <mapping class="com.twoclothing.web.abid.bidorderreport.BidOrderReport"/>
        <mapping class="com.twoclothing.web.abid.bidrecord.BidRecord"/>
        <mapping class="com.twoclothing.web.blacklist.BlackList"/>
        <mapping class="com.twoclothing.web.aproduct.cartdetail.CartDetail"/>
        <mapping class="com.twoclothing.web.categorytags.CategoryTags"/>
        <mapping class="com.twoclothing.web.chatroomlog.ChatRoomLog"/>
        <mapping class="com.twoclothing.web.coupon.Coupon"/>
        <mapping class="com.twoclothing.web.department.Department"/>
        <mapping class="com.twoclothing.web.employee.Employee"/>
        <mapping class="com.twoclothing.web.empmissions.EmpMissions"/>
        <mapping class="com.twoclothing.web.follow.Follow"/>
        <mapping class="com.twoclothing.web.aproduct.item.Item"/>
        <mapping class="com.twoclothing.web.aproduct.itembrowsing.ItemBrowsing"/>
        <mapping class="com.twoclothing.web.aproduct.itemimage.ItemImage"/>
        <mapping class="com.twoclothing.web.aproduct.itemorder.ItemOrder"/>
        <mapping class="com.twoclothing.web.aproduct.itemreport.ItemReport"/>
        <mapping class="com.twoclothing.web.aproduct.itemtracking.ItemTracking"/>
        <mapping class="com.twoclothing.web.latestnews.LatestNews"/>
        <mapping class="com.twoclothing.web.members.Members"/>
        <mapping class="com.twoclothing.web.memberscoupon.MembersCoupon"/>
        <mapping class="com.twoclothing.web.newsimages.NewsImages"/>
        <mapping class="com.twoclothing.web.aproduct.orderdetails.OrderDetails"/>
        <mapping class="com.twoclothing.web.aproduct.ordernotify.OrderNotify"/>
        <mapping class="com.twoclothing.web.aproduct.orderratingimage.OrderRatingImage"/>
        <mapping class="com.twoclothing.web.aproduct.orderreport.OrderReport"/>
        <mapping class="com.twoclothing.web.permissions.Permissions"/>
        <mapping class="com.twoclothing.web.pointhistory.PointHistory"/>
        <mapping class="com.twoclothing.web.shipsetting.ShipSetting"/>
        <mapping class="com.twoclothing.web.withdrawrequest.WithdrawRequest"/>

    </session-factory>
</hibernate-configuration>
