<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">

    <display-name>TwoClothing</display-name>

    <welcome-file-list>
        <welcome-file>welcome.html</welcome-file>
    </welcome-file-list>

    <!--使用web.xml註冊Filter的優點-->
        <!--1.易於觀察整個webapp有哪些過濾器以及分別過濾哪些東西-->
        <!--2.容易調整過濾器之間的執行順序(依web.xml裡的配置順序)-->
    <filter>
        <filter-name>RequestCharacterEncoding</filter-name>
        <filter-class>com.twoclothing.filter.SetRequestCharacterEncodingFilter</filter-class>
        <!--設置初始化參數-->
        <init-param>
            <param-name>characterEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>RequestCharacterEncoding</filter-name>
        <!--路徑匹配-->
        <url-pattern>/*</url-pattern>
        <!--不設定任何dispatcher,預設是REQUEST-->
        <!--Annotation註冊包含全部-->
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>

</web-app>